*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: seashell;
    text-align: center;
    opacity: 0.9;
}
body{
    background-color: black;
}
header{
    display: flex;
    font-size: 22px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 2;
}
header img{
    height: 50px;
    margin: 10px;
}
header ul{
    display: inline-flex;
    width: 100%;
    list-style-type: none;
    justify-content: right;
    align-items: center;
    margin: 1rem;
}
header li{
    margin: 1rem;
}
.mission{
    display: flex;
    width: 1200px;
    height:700px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img-mission-background.jpg);
    margin: 0 auto;
    margin-top: 69px;
}
.mission-item{
    background-color: black;
    width: 1200px;
    opacity: 100;
    line-height: 1.5;
    padding: 5px;
    font-size: 22px;
}
.tea-otm{
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}
.featured{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tea{
    margin: 15px;
}
.tea h3{
    margin-top: 10px;
}
.locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1200px;
    margin: 100px auto 0 auto;
    background: url(../img-locations-background.jpg);
    background-position: center top;
}
.locals{
    opacity: 1;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    font-size: 22px;
}
.local{
    background-color: black;
    width: 300px;
    height: 250px;
    margin: 15px 40px;
    padding: 15px;
    line-height: 2.5;
}
footer{
    display: flex;
    flex-flow: column;
    line-height: 3;
    height: 200px;
}
footer p{
    text-align: left;
    margin-left: 20px;
}
